<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>


<div th:each="el : ${sklad}" align="center">
    <form th:object="${sklad}" th:action="'/sklad/edit/'+${el.id}" method="post">
        <p>Адрес
            <input th:field="*{adresSklada}" type="text" style="background-color: chocolate" th:value="${el.adresSklada}" id="adresSklada" name="adresSklada" placeholder="Название"><br>
        <div th:if="${#fields.hasErrors('adresSklada')}" th:errors="*{adresSklada}"></div>
        </p>
        <input type="submit" value="Изменить адрес склада" class="btn btn-success"><br>
        <a href="/sklad/" class="btn btn-primary">Назад к адресам складов</a>
    </form><br>
</div>
</body>
</html>