<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div align="center" th:each="el : ${sklad}">
    Адрес
    <h2 th:text="${el.adresSklada}"></h2>
    <a th:href="'/sklad/del/' + ${el.id}" class="btn btn-danger">Удалить</a>
    <a th:href="'/sklad/edit/' + ${el.id}" class="btn btn-warning">Изменить</a><br>
    <a href="/sklad/" class="btn btn-primary">Назад к адресам складов</a>
</div>
</body>
</html>