<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TipYslygi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div align="center" th:each="el : ${tipyslygi}">
    Тип
    <h2 th:text="${el.tipYslygi}"></h2>
    <a th:href="'/tipyslygi/del/' + ${el.id}" class="btn btn-danger">Удалить</a>
    <a th:href="'/tipyslygi/edit/' + ${el.id}" class="btn btn-warning">Изменить</a><br>
    <a href="/tipyslygi/" class="btn btn-primary">Назад к типам</a>
</div>
</body>
</html>