<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zapisi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>


<div th:each="el : ${zapisi}" align="center">
    <form th:object="${zapisi}" th:action="'/zapisi/edit/'+${el.id}" method="post">
        <p>Дата
            <input th:field="*{dataZapisi}" type="text" style="background-color: chocolate" th:value="${el.dataZapisi}" id="dataZapisi" name="dataZapisi" placeholder="Дата"><br>
        <div th:if="${#fields.hasErrors('dataZapisi')}" th:errors="*{dataZapisi}"></div>
        </p>
        <p>Время начала
            <input th:field="*{vremyaNachala}" type="text" style="background-color: chocolate" th:value="${el.vremyaNachala}" id="vremyaNachala" name="vremyaNachala" placeholder="Время начала"><br>
        <div th:if="${#fields.hasErrors('vremyaNachala')}" th:errors="*{vremyaNachala}"></div>
        </p>
        <p>Посещение
            <input th:field="*{visit}" type="text" style="background-color: chocolate" th:value="${el.visit}" id="visit" name="visit" placeholder="Посещение"><br>
        <div th:if="${#fields.hasErrors('visit')}" th:errors="*{visit}"></div>
        </p>
        <select  name="klient">
            <div th:each="element : ${klient}">
                <option th:text="${element.surename}"></option>
            </div>
        </select>
        <select  name="yslygi">
            <div th:each="element : ${yslygi}">
                <option th:text="${element.nameYslygi}"></option>
            </div>
        </select>
        <select  name="sotrydniki">
            <div th:each="element : ${sotrydniki}">
                <option th:text="${element.surename}"></option>
            </div>
        </select>
        <input type="submit" value="Изменить запись" class="btn btn-success"><br>
        <a href="/zapisi/" class="btn btn-primary">Назад к записям</a>
    </form><br>
</div>
</body>
</html>