<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Klient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form th:object="${klient}" action="/klient/add" method="post">
    <p>Фамилия
        <input th:field="*{surename}" type="text"  id="surename" name="surename" placeholder="Фамилия"><br>
    <div th:if="${#fields.hasErrors('surename')}" th:errors="*{surename}"></div>
    </p>
    <p>Имя
        <input th:field="*{name}" type="text"  id="name" name="name" placeholder="Имя"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </P>
    <p>Отчество
        <input th:field="*{middlename}" type="text"  id="middlename" name="middlename" placeholder="Отчество"><br>
    <div th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></div>
    </P>
    <p>Номер телефона
        <input th:field="*{numberphone}" type="text"  id="numberphone" name="numberphone" placeholder="Номер телефона"><br>
    <div th:if="${#fields.hasErrors('numberphone')}" th:errors="*{numberphone}"></div>
    </P>
    <input type="submit" value="Добавить клиента" class="btn btn-success"><br>
</form><br>
<a href="/klient/" class="btn btn-primary">Назад</a>
</body>
</html>