<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Klient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div align="center" th:each="el : ${klient}">
    Фамилия
    <h2 th:text="${el.surename}"></h2>
    Имя
    <h2 th:text="${el.name}"></h2>
    Отчество
    <h2 th:text="${el.middlename}"></h2>
    Номер телефона
    <h2 th:text="${el.numberphone}"></h2>
    <a th:href="'/klient/del/' + ${el.id}" class="btn btn-danger">Удалить</a>
    <a th:href="'/klient/edit/' + ${el.id}" class="btn btn-warning">Изменить</a><br>
    <a href="/klient/" class="btn btn-primary">Назад к клиентам</a>
</div>
</body>
</html>